@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap");

body {
  font-family: "Nunito Sans", sans-serif;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .glass-effect {
    background: rgba(75, 66, 92, 0.329);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(7.5px);
  }
  .glass-effect-light {
    background: rgba(255, 255, 255, 0.403);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(7.5px);
  }
}

/* fade effect background */
@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bg-gradient-animation {
  background: linear-gradient(
    270deg,
    #c50000,
    #c72800,
    #ff6600,
    #c77700,
    #a200ca,
    #9900ff,
    #5a00e1,
    #2e00e7,
    #0000ce
  );
  background-size: 800% 800%;
  animation: gradientBackground 22s ease infinite;
}

/* loading effect */

.loader {
  border-top-color: #3498db;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* Background effect */
@keyframes blob1 {
  0%,
  100% {
    top: 20%;
    left: 20%;
    transform: scale(1.2);
  }
  25% {
    top: 10%;
    left: 70%;
    transform: scale(0.8);
  }
  50% {
    top: 50%;
    left: 50%;
    transform: scale(1.2);
  }
  75% {
    top: 80%;
    left: 30%;
    transform: scale(0.8);
  }
}

@keyframes blob2 {
  0%,
  100% {
    top: 70%;
    left: 70%;
    transform: scale(1.2);
  }
  25% {
    top: 60%;
    left: 20%;
    transform: scale(0.8);
  }
  50% {
    top: 30%;
    left: 80%;
    transform: scale(1.2);
  }
  75% {
    top: 40%;
    left: 40%;
    transform: scale(0.8);
  }
}

@keyframes blob3 {
  0%,
  100% {
    top: 40%;
    left: 60%;
    transform: scale(1.2);
  }
  25% {
    top: 70%;
    left: 50%;
    transform: scale(0.8);
  }
  50% {
    top: 80%;
    left: 20%;
    transform: scale(1.2);
  }
  75% {
    top: 10%;
    left: 60%;
    transform: scale(0.8);
  }
}

@keyframes blob4 {
  0%,
  100% {
    top: 80%;
    left: 30%;
    transform: scale(1.2);
  }
  25% {
    top: 40%;
    left: 10%;
    transform: scale(0.8);
  }
  50% {
    top: 60%;
    left: 60%;
    transform: scale(1.2);
  }
  75% {
    top: 20%;
    left: 40%;
    transform: scale(0.8);
  }
}

.blob {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  opacity: 0.6;
  filter: blur(150px);
}

.blob1 {
  background: rgba(255, 0, 0, 1); /* Red */
  animation: blob1 21s infinite;
}

.blob2 {
  background: rgba(255, 153, 0, 1); /* Orange */
  animation: blob2 21s infinite;
}

.blob3 {
  background: rgba(204, 0, 255, 1); /* Purple */
  animation: blob3 21s infinite;
}

.blob4 {
  background: rgba(0, 0, 255, 1); /* Blue */
  animation: blob4 21s infinite;
}
